Package: com.artikus.neonboard
Name: NeonBoard
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A small and unfinished theming engine I made as an experiment.
Maintainer: ArtikusHG
Author: ArtikusHG
Section: Tweaks
Replaces: com.anemonetheming.anemone, winterboard, com.codethemed.iconbundles
Provides: com.anemonetheming.anemone, winterboard, com.codethemed.iconbundles
Conflicts: com.anemonetheming.anemone, winterboard, com.codethemed.iconbundles, com.spark.snowboard
Version: 2.0.0
Installed-Size: 448
